.animate {
  opacity: 0;
  filter: blur(2px);
  transition: all 1s;
}
.animate.from-top {
  transform: translateY(-150%);
}
.animate.from-left {
  transform: translateX(-100%);
}
.animate.from-right {
  transform: translateX(100%);
}

.animate.show {
  filter: blur(0);
  transform: translate(0);
  opacity: 1;
}