* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
  color: #1c1a1d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 0 1rem;
}

section div {
  max-width: 40rem;
}

section:nth-child(2n-1) {
  text-align: end;
}

p {
  font-size: 1rem;
  line-height: 150%;
  margin-top: 1.125rem;
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  z-index: 1;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  letter-spacing: .375rem;
}

img:not(.cover-img) {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  object-position: top;
  border-radius: 4rem;
  box-shadow: 0 24px 32px -20px rgba(0, 0, 0, 0.25);
}

.cover-img {
  position: absolute;
  top: -10rem;
}

footer {
  background-color: #1c1a1d;
  color: #e5e5e5;
  padding: 1rem 0;
  text-align: center;
}

@media (min-width: 390px) {
  section {
    gap: 3rem;
    padding: 0 1.5rem;
  }

  p {
    font-size: 1.125rem;
  }
}

@media (min-width: 541px) {
  p {
    font-size: 1.25rem;
    margin-top: 1.5rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  h1 {
    font-size: 4rem;
  }
  
  h1,
  h2 {
    letter-spacing: .5rem;
  }

  img:not(.cover-img) {
    width: 30rem;
    height: 30rem;
  }

  .cover-img {
    top: -2rem;
  }
}

@media (min-width: 1280px) {
  section {
    flex-direction: row;
  }

  .cover-img {
    top: -10rem;
  }
}

@media (min-width: 1440px) {
  p {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  
  h2 {
    font-size: 3.5rem;
  }
  
  h1 {
    font-size: 6rem;
  }

  img:not(.cover-img) {
    width: 40rem;
    height: 40rem;
  }

  .cover-img {
    top: -2rem;
  }
}

@media (min-width: 1600px) {
  section {
    gap: 4rem;
  }
}

@media (min-width: 1920px) {
  section {
    gap: 8rem;
  }
}